.navbar {
	background-color: var(--primary);
	border: 2px solid var(--border);
	box-shadow: 0px 0px 5px var(--border);
	position: relative;
	overflow: hidden;
	max-width: 350px;
	margin: auto;
	margin-top: 5em;
	border-radius: 2em;
	overflow: visible;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
}

.navbar-left,
.navbar-right,
.space {
	padding: 0.1em;
}

.navbar .picture {
	box-shadow: 0px 0px 5px var(--border);
	border: 2px solid var(--border);
	width: 150px;
	height: 150px;
	background-image: url("/public/image.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 90% 20%;
	margin: auto;
	border-radius: 100%;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: visible;
}

.navbar button {
	color: var(--text-color);
	padding: 1rem 2rem;
	outline: none;
	background: inherit;
	border: none;
	cursor: pointer;
	border-radius: 2em;
}
.navbar button:hover {
	background-color: var(--hover);
	box-shadow: 0px 0px 5px var(--hover);
	color: var(--dark-text-color);
}
.navbar i {
	font-size: 1.1rem;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 768px) {
	.navbar-right,
	.navbar-left {
		margin: auto;
	}
	.navbar {
		margin-top: 10em;
		display: block;
		width: 30%;
	}
	.picture {
		top: -5em !important;
	}

	.navbar-left button,
	.navbar-right button {
		display: block;
		width: 100%;
	}
}

/* DARK THEME */

.navbar.dark {
	background-color: var(--dark-primary);
	border: 2px solid var(--dark-border);
	box-shadow: 0px 0px 5px var(--dark-border);
}

.navbar.dark .picture {
	box-shadow: 0px 0px 5px var(--dark-border);
	border: 2px solid var(--dark-border);
}

.navbar.dark button {
	color: var(--dark-text-color);
}

.navbar.dark button:hover {
	background-color: var(--dark-hover);
	box-shadow: 0px 0px 5px var(--dark-hover);
	color: var(--text-color);
}
